@charset "UTF-8";
body {
  max-width: 100%;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

.header {
  max-width: 1280px;
  height: 130px;
  margin: 0 auto;
}
.header__inner {
  margin: 0em 1.5625em 0em 1.5625em;
  padding-top: 1.875em;
  padding-bottom: 0.9375em;
  display: flex;
  flex-wrap: nowrap;
  height: 130px;
}
.header__logo.logo {
  width: 60%;
  align-content: center;
}
.header__nav.nav {
  width: 40%;
  align-items: baseline;
}
@media screen and (max-width: 414px) {
  .header__nav.nav {
    display: none;
  }
}
.header__nav.nav .nav__gnav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
}
.main__inner {
  margin: 0em 1.5625em 0em 1.5625em;
}

p {
  color: #707070;
}

.footer {
  background-color: #474747;
}
.footer__inner {
  margin: 0 1.5625em;
  padding-bottom: 1.875em;
}
.footer__sns {
  background-color: #FAFAFA;
  margin: 0 calc(50% - 50vw);
  padding: 3.75em 0;
  padding-top: 2.5em;
}
.footer__sns .main__content__title:nth-of-type(1) {
  margin-top: 0;
  margin-bottom: 1.6666666667em;
}
.footer__sns__text {
  width: 90%;
  margin: auto;
}
.footer .sns {
  display: flex;
  justify-content: center;
}
.footer .sns:nth-of-type(1) {
  margin: 3.125em 0;
}
.footer .sns:nth-of-type(1) .sns__list:nth-of-type(1) {
  margin-right: 5.84375em;
}
.footer .sns:nth-of-type(1) .sns__list:nth-of-type(2) {
  margin-left: 5.84375em;
}
.footer .sns:nth-of-type(2) {
  margin: 0 4.625em 0 0;
  width: 50%;
}
.footer__nav {
  color: #FFFFFF;
  padding: 3.75em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo {
  width: 50%;
  text-align: left;
}
.footer .nav {
  width: 50%;
}
.footer .nav__gnav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 4.625em;
}
.footer .nav__gnav__list {
  font-size: 12px;
}
.footer .nav__gnav__list:nth-of-type(1) {
  margin-right: 3.125em;
}
.footer .nav__gnav__list:nth-of-type(2) {
  margin: 0 3.125em;
}
.footer .nav__gnav__list:nth-of-type(3) {
  margin-left: 3.125em;
}
.footer__address {
  width: 50%;
  font-size: 12px;
  text-align: left;
}
.footer .copyright {
  color: #FFFFFF;
}

.mainblur {
  background-color: #fff;
  filter: blur(8px);
}

#g-nav {
  position: fixed;
  z-index: -1;
  opacity: 0; /*はじめは透過０*/
  top: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
}

/* panelaactiveのクラスがついたら透過無しで最前面 */
#g-nav.panelactive {
  opacity: 1;
  z-index: 998;
}

/* ナビゲーション */
#g-nav ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

/* リストのレイアウト */
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #dfa081;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* ボタンのためのCSS */
.openbtn1 {
  display: none;
  position: fixed;
  z-index: 999; /*最前面*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* ☓に変化 */
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #dfa081;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

@media screen and (max-width: 415px) {
  .openbtn1 {
    display: block;
  }
  .footer {
    background-color: #474747;
  }
  .footer__inner {
    margin: 0 1.5625em;
    padding-bottom: 1.875em;
  }
  .footer__sns {
    background-color: #FAFAFA;
    margin: 0 calc(50% - 50vw);
    padding: 2.5em 0;
  }
  .footer__sns .main__content__title:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 1.6666666667em;
  }
  .footer__sns__text {
    padding: 0 4.5625em;
  }
  .footer .sns {
    display: flex;
    justify-content: center;
  }
  .footer ul.sns:nth-of-type(1) {
    margin-top: 2.5em;
    margin-bottom: 3.125em;
  }
  .footer ul.sns:nth-of-type(1) .sns__list:nth-of-type(1) {
    margin-right: 5.84375em;
  }
  .footer ul.sns:nth-of-type(1) .sns__list:nth-of-type(2) {
    margin-left: 5.84375em;
  }
  .footer ul.sns:nth-of-type(2) {
    margin: 0;
  }
  .footer ul.sns:nth-of-type(2) li.sns__list:nth-of-type(1) {
    margin-right: 1.25em;
  }
  .footer ul.sns:nth-of-type(2) li.sns__:nth-of-type(2) {
    margin-left: 1.25em;
  }
  .footer__nav {
    color: #FFFFFF;
    padding: 3.75em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__logo {
    max-width: 237px;
    width: 100%;
    text-align: center;
    margin: auto 0;
  }
  .footer .nav {
    max-width: 72px;
    width: 100%;
  }
  .footer .nav__gnav {
    display: block;
    margin: 0;
  }
  .footer .nav__gnav__list {
    font-size: 12px;
  }
  .footer .nav__gnav__list:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 1.6875em;
  }
  .footer .nav__gnav__list:nth-of-type(2) {
    margin: 1.6875em 0;
  }
  .footer .nav__gnav__list:nth-of-type(3) {
    margin-left: 0;
    margin-top: 1.6875em;
  }
  .footer__address {
    width: 50%;
    font-size: 12px;
    text-align: left;
  }
  .footer .copyright {
    color: #FFFFFF;
  }
}
.main__thumbnail {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 720px;
  background-image: url(/img/LP/LP_main_visual.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__about.about {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background-color: #FFF8F2;
  padding: 3.75em 0;
}
.main__about.about .about__text span {
  font-size: 2.25rem;
  font-weight: bold;
}
.main__sensation {
  height: 1183px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: #FFF8F2;
}
.main__sensation .main__circle {
  position: relative;
  width: 100%;
}
.main__sensation .circle-box {
  position: relative;
  margin: 0 0.3125em;
}
.main__sensation div.item {
  position: absolute;
}
.main__sensation img.item {
  position: absolute;
  width: 72px;
  height: 72px;
}
.main__sensation .logo {
  position: absolute;
  top: 386px;
  left: 409.5px;
}
.main__access__box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 3.125em;
  padding-bottom: 3.75em;
}
.main__access__information {
  width: 30%;
  text-align: left;
  margin-right: 6.25em;
}
.main__access__map {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}
.main__content__title {
  font-size: 1.875rem;
  margin-top: 0.4666666667em;
  margin-bottom: 2em;
}
.main__content__title-sub {
  font-size: 1rem;
}
.main__content .main__content__title-sub:nth-of-type(3) {
  margin-top: 3em;
  margin-bottom: 3.8em;
}
.main__content__view {
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}
@media screen and (max-width: 429px) {
  /*　画面サイズが428pxまではここを読み込む　*/
  .main__sensation {
    height: 1183px;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    background-color: #FFF8F2;
  }
  .main__sensation .main__circle {
    position: relative;
    width: 100%;
  }
  .main__sensation .circle-box {
    position: relative;
    margin: 0 4.375em;
  }
  .main__sensation div.item {
    position: absolute;
  }
  .main__sensation .logo {
    position: absolute;
    top: 386px;
    left: 409.5px;
  }
}
.about__text {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #303030;
  margin-top: 3.75em;
}
@media screen and (max-width: 428px) {
  .about__text {
    margin-top: 2.5em;
  }
}
.about__text-sub {
  display: block;
  font-size: 2.25rem;
  margin: 5% 0;
  font-weight: bold;
}
@media screen and (max-width: 428px) {
  .about__text-sub {
    font-size: 1.5rem;
  }
}

.Philosophy__bisual {
  z-index: 0;
  overflow: hidden;
  opacity: 0.8; /*半透明カラーの透明度*/
  position: relative;
  padding: 2% 10%;
}
.Philosophy__bisual:before {
  content: "";
  background: url("../img/about/about_main.png"); /*背景画像のURL*/
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  filter: blur(8px); /*ぼかし度*/
  position: absolute;
  background-repeat: no-repeat;
  /* 参考: http://designcolor-web.com/2016/09/14/css-blur-effects-background/*/
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
}
.Philosophy__inner {
  margin: 1.5625em;
}
.Philosophy__content {
  padding: 3.75em;
  background-color: #F9F4EF;
}
.Philosophy__writing_style__day {
  margin-bottom: 1em;
}
.Philosophy__writing_style__span {
  margin: 3% 0;
  display: block;
}
.Philosophy_writing_style_space {
  display: block;
  margin: 1.2em;
}

.shop {
  margin-top: 3.75em;
}
@media screen and (max-width: 428px) {
  .shop {
    margin-top: 2.5em;
  }
}
.shop__inner {
  width: 95%;
  margin: auto;
}
.shop_image-box {
  width: 50%;
}
.shop__exterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 428px) {
  .shop__exterior {
    width: 100%;
  }
}
.shop__exterior-image {
  display: block;
  width: 100%;
}
.shop__exterior-text {
  line-height: 1.5;
}
@media screen and (max-width: 428px) {
  .shop__exterior-text {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}
.shop__exterior-title {
  font-size: 1.5rem;
  margin-bottom: 4%;
}
@media screen and (max-width: 428px) {
  .shop__exterior-title {
    margin-bottom: 0.625em;
    font-size: 1.125rem;
  }
}
.shop__exterior-content {
  width: 50%;
  padding-right: 2%;
}
@media screen and (max-width: 428px) {
  .shop__exterior-content {
    padding-right: 0.7em;
  }
}
.shop__interior {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  .shop__interior-text {
    font-size: 0.75rem;
  }
}
.shop__interior-title {
  font-size: 1.5rem;
  margin-bottom: 3%;
}
@media screen and (max-width: 428px) {
  .shop__interior-title {
    margin-bottom: 0.625em;
    font-size: 1rem;
  }
}
.shop__interior-content {
  width: 50%;
  padding-left: 2%;
}
@media screen and (max-width: 428px) {
  .shop__interior-content {
    font-size: 1rem;
    width: 50%;
    padding-left: 0.5em;
  }
}
.shop__interior-image {
  display: block;
  width: 50%;
  height: auto;
}

.interview {
  background-color: #FAFAFA;
  margin-top: 3.75em;
  padding-top: 3.75em;
  padding-bottom: 5em;
}
.interview__inner {
  width: 90%;
  margin: auto;
}
.interview__content {
  width: 100%;
  text-align: left;
  margin-top: 3.75em;
  background-color: #FAFAFA;
}
@media screen and (max-width: 428px) {
  .interview__content {
    padding: 0;
  }
}
.interview__inner {
  margin: 0 auto;
  width: 95%;
}
.interview__question {
  padding-left: 5%;
  font-size: 1.5625rem;
  margin-bottom: 2.5em;
}
@media screen and (max-width: 428px) {
  .interview__question {
    font-size: 1.125rem;
    margin-bottom: 1.875em;
  }
}
.interview__box {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.interview__box-img {
  width: 12%;
}
@media screen and (max-width: 428px) {
  .interview__box-img {
    width: 20%;
  }
}
.interview__image {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 428px) {
  .interview__image {
    width: 100%;
  }
}
.interview__answer {
  width: 40%;
  font-size: 1.5rem;
  margin-left: 2%;
}
@media screen and (max-width: 428px) {
  .interview__answer {
    margin-left: 5%;
    font-size: 1.125rem;
  }
}

.events {
  margin: 3.75em;
}
@media screen and (max-width: 428px) {
  .events {
    margin: 2.5rem;
  }
}
.events__inner {
  width: 90%;
  margin: auto;
}
.events__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2.5em;
}
@media screen and (max-width: 428px) {
  .events__box {
    display: block;
  }
}
.events__title {
  font-weight: normal;
  margin-left: 10%;
  font-size: 1.875rem;
  margin-bottom: 1.25em;
}
@media screen and (max-width: 428px) {
  .events__title {
    font-size: 1.125rem;
  }
}
.events__image {
  display: block;
  width: 30%;
}
@media screen and (max-width: 428px) {
  .events__image {
    width: 80%;
    margin: 0 auto 1.875em auto;
  }
}
.events__answer {
  margin-left: 2%;
  font-size: 1.5625em;
}
@media screen and (max-width: 428px) {
  .events__answer {
    font-size: 1.125rem;
  }
}

.main__inner {
  width: 90%;
  margin: auto;
}
.main__thumbnail__price__visual {
  max-width: 100%;
  width: 100vw;
}
.main__rental {
  margin-top: 3.75em;
  padding-bottom: 3.75em;
}
.main__rental__calender {
  margin: 3.75em 0;
}
.main__rental__calender__demo {
  max-width: 100%;
  width: 100vw;
}
.main__rental__fee {
  margin-top: 3.75em;
  border: 1px solid #000;
  height: 350px;
  max-width: 1230px;
}
.main__bookshelf {
  margin: 0 calc(50% - 50vw);
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  background-color: #FFF8F2;
}
.main__bookshelf__about {
  display: flex;
  justify-content: center;
}
.main__bookshelf__about__text {
  line-height: 2.1875em;
  margin: 1.875em 5em 0;
}
.main__bookshelf__about__demo {
  max-width: 600px;
  max-width: 100%;
  max-height: 500px;
  height: 100%;
  margin: auto 0;
  margin-right: 1.5625em;
}
@media screen and (max-width: 428px) {
  .main__bookshelf__about__demo {
    margin-right: 0;
  }
}
.main__bookshelf__benefit {
  margin-top: 7.5em;
}
.main__bookshelf__fee {
  margin: 0 1.5625em;
  margin-top: 3.75em;
  border: 1px solid #000;
  height: 350px;
  max-width: 1230px;
}
.main__price__title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 415px) {
  .main__thumbnail__price__visual {
    max-width: 100%;
    width: 100vw;
  }
  .main__rental {
    margin-top: 1.875em;
    padding-bottom: 1.875em;
  }
  .main__rental__calender {
    margin: 1.875em 0;
  }
  .main__rental__calender__demo {
    max-width: 100%;
    width: 100vw;
  }
  .main__rental__fee {
    margin-top: 1.875em;
    border: 1px solid #000;
    height: 104px;
    max-width: 1230px;
  }
  .main__bookshelf {
    margin: 0 calc(50% - 50vw);
    padding-top: 1.875em;
    padding-bottom: 2.5em;
    background-color: #FFF8F2;
  }
  .main__bookshelf__about {
    display: block;
  }
  .main__bookshelf__about__text {
    font-size: 14px;
    line-height: 2.5em;
    margin: 0 2.7857142857em;
    margin-bottom: 2.1428571429em;
    line-height: 2;
  }
  .main__bookshelf__about__demo {
    max-width: 100%;
    padding: 0 1.5625em;
    margin: 0;
  }
  .main__bookshelf__benefit {
    height: 300px;
    margin-top: 2.5em;
    margin-bottom: 3.75em;
  }
  .main__bookshelf__fee {
    margin: 0 1.5625em;
    margin-top: 3.75em;
    border: 1px solid #000;
    height: 350px;
    max-width: 1230px;
  }
  .main__price__title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
  h4.main__content__title:nth-child(3) {
    margin-bottom: 1em;
  }
  h4.main__content__title:nth-child(4) {
    margin-top: 1.3333333333em;
  }
}
/* base */
/* index */
/* about */
/* color */
/* price */