@use "./base/color" as color;

.main{
    &__inner{
    }
    // tumbnail
    &__thumbnail{
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        height: 720px;
        background-image: url(/img/LP/LP_main_visual.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: background-image 1s ease-in;
    }
    // about
    &__about.about{
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        background-color: color.$color-about-base;
        padding: (60em/16) 0;
        .about{
            &__text{
                span{
                    font-size: (36rem/16);
                    font-weight: bold;
                }
            }
        }
    }

    &__sensation{
        height: 1183px;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        background-color: color.$color-about-base;
        .main__circle {
            position: relative;
            width: 100%;
        }
        .circle-box {
            position: relative;
            margin: 0 (5em/16);
        }
        div.item {
            position: absolute;
        }
        img.item {
            position: absolute;
        }
        .logo{
            position: absolute;
            top: 386px;
            left:409.5px;
        }
    }
    &__access{
        &__box{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            padding-top: (50em/16);
            padding-bottom: (60em/16);
        }
        &__information{
            width: 30%;
            text-align: left;
            margin-right: (100em/16);
            tr{
                th{

                }
                td{

                }
            }
        }
        &__map{
            width: 50%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content{
        &__title{
            font-size: (30rem/16);
            margin-top: (14em/30);
            margin-bottom: (60em/30) ;
        }
        &__title-sub{
            font-size: (20rem/20);
        }
        .main__content__title-sub:nth-of-type(3){
            margin-top: (60em/20);
            margin-bottom: (76em/20);
        }
        &__view{
            text-align: right;
        }
    }
}

/*>*/
.next{
    float: right;
    top: 360px;
    right: 30px;
    cursor: pointer;
}

/*<*/
.back{
    float: left;
    bottom: -360px;
    left: 30px;
    cursor: pointer;
}

/*矢印のデザイン*/
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}

.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.next::before{
    left: 0px;
    width: 30px;
    height: 30px;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.back::before{
    left: 0px;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



// タブレット
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}

// スマホ
@media screen and (max-width:429px) { 
    /*　画面サイズが428pxまではここを読み込む　*/
    .main{
        &__inner{
        }
        // tumbnail
        &__thumbnail{
        }
        // about
        &__about.about{
            .about{
                &__text{
                    span{
                    }
                }
            }
        }
    
        &__sensation{
            height: 424px;
            width: 100vw;
            margin: 0 calc(50% - 50vw);
            background-color: color.$color-about-base;
            .main__circle {
                position: relative;
                width: 100%;
            }
            .circle-box {
                position: relative;
                margin: 0 (182em/16);
            }
            div.item {
                position: absolute;
            }
            img.item {
                position: absolute;
                width: 74px;
                height: 74px;
            }
            .logo{
                position: absolute;
                top: 121px;
                left:143px;
                width: 134px;
            }
        }
        &__access{
            &__box{
            }
            &__information{
                tr{
                    th{
    
                    }
                    td{
    
                    }
                }
            }
            &__map{
            }
        }
    
        &__content{
            &__title{
            }
            &__title-sub{
            }
            .main__content__title-sub:nth-of-type(3){
            }
            &__view{
            }
        }
    }
    
}