@use "./base/color" as color;

.main{
    &__inner{
    }
    // tumbnail
    &__thumbnail{
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        height: 720px;
        background-image: url(/img/LP/LP_main_visual.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // &__visual{
        // }
    }
    // about
    &__about.about{
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        background-color: color.$color-about-base;
        padding: (60em/16) 0;
        .about{
            &__text{
                span{
                    font-size: (36rem/16);
                    font-weight: bold;
                }
            }
        }
    }

    &__sensation{
        height: 1183px;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        background-color: color.$color-about-base;
        .main__circle {
            position: relative;
            width: 100%;
        }
        .circle-box {
            position: relative;
            margin: 0 (5em/16);
        }
        div.item {
            position: absolute;
        }
        img.item {
            position: absolute;
            width: 72px;
            height: 72px;
        }
        .logo{
            position: absolute;
            top: 386px;
            left:409.5px;
        }
    }
    &__access{
        &__box{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            padding-top: (50em/16);
            padding-bottom: (60em/16);
        }
        &__information{
            width: 30%;
            text-align: left;
            margin-right: (100em/16);
            tr{
                th{

                }
                td{

                }
            }
        }
        &__map{
            width: 50%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content{
        &__title{
            font-size: (30rem/16);
            margin-top: (14em/30);
            margin-bottom: (60em/30) ;
        }
        &__title-sub{
            font-size: (20rem/20);
        }
        .main__content__title-sub:nth-of-type(3){
            margin-top: (60em/20);
            margin-bottom: (76em/20);
        }
        &__view{
            text-align: right;
        }
    }
}



// タブレット
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}

// スマホ
@media screen and (max-width:429px) { 
    /*　画面サイズが428pxまではここを読み込む　*/
    .main{
        &__inner{
        }
        // tumbnail
        &__thumbnail{
        }
        // about
        &__about.about{
            .about{
                &__text{
                    span{
                    }
                }
            }
        }
    
        &__sensation{
            height: 1183px;
            width: 100vw;
            margin: 0 calc(50% - 50vw);
            background-color: color.$color-about-base;
            .main__circle {
                position: relative;
                width: 100%;
            }
            .circle-box {
                position: relative;
                margin: 0 (70em/16);
            }
            div.item {
                position: absolute;
            }
            .logo{
                position: absolute;
                top: 386px;
                left:409.5px;
            }
        }
        &__access{
            &__box{
            }
            &__information{
                tr{
                    th{
    
                    }
                    td{
    
                    }
                }
            }
            &__map{
            }
        }
    
        &__content{
            &__title{
            }
            &__title-sub{
            }
            .main__content__title-sub:nth-of-type(3){
            }
            &__view{
            }
        }
    }
    
}