.h1{
    font-size: rem(32/16);
}

.h2{
    font-size: rem(24/16);
}

.h3{
    font-size: rem(18/16);
}

.h4{
    font-size: rem(14/16);
}

.h5{
    font-size: rem(12/16);
}

.h6{
    font-size: rem(10/16);
}
